.units-row {
  //@extend %clearfix;
  position: relative;
  margin: 0 0 $base-line;
  // Here we are. One single bad place in inline-block grid
  letter-spacing: -.32em;
}

.unit {
  position: relative;
  width: 100%;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
  // Yep, we need set normal letter-spacing for each block
  letter-spacing: normal;
  //float: none;
}

@include make-units('-mobile');

@include respond-to('tablet') {
  @include make-units('-tablet');
}

@include respond-to('desktop') {
  @include make-units();
}
