.units-row {
  display: table; // Fixed webkit bug
  position: relative;
  width: 100%; // Fixed webkit bug
  margin: 0 0 $base-line;
  word-spacing: -.36em; // Remove whitespaces between units
}

.unit {
  display: inline-block;
  position: relative;
  width: 100%;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
  word-spacing: normal; // Return word-spacing to normal state
}

@include make-units('-mobile');

@include respond-to('tablet') {
  @include make-units('-tablet');
}

@include respond-to('desktop') {
  @include make-units();
}
