$btn-padding-vertical: .31em;
$btn-padding-horizontal: 1.5em;
$btn-radius: .2em;

$btn-bg-white: #fff;
$btn-bg-black: #000;
$btn-bg-default: #b2b2b2;
$btn-color-default: #f6f6f6;

$btn-font-normal: 1em;
$btn-font-large: 1.2em;
$btn-font-small: .85em;
$btn-font-smaller: .75em;

$btn-rounded-radius: 1.1em;
$btn-circle-size: 3em;

$btn-colors: (
  'red': (
    'text-color': $btn-bg-white,
    'background': #f34235
  ),
  'blue': (
    'text-color': $btn-bg-white,
    'background': #2095f2
  ),
  'slate-blue': (
    'text-color': $btn-bg-white,
    'background': #5677fc
  ),
);
