$btn-padding-vertical: .31em;
$btn-padding-horizontal: 1.5em;
$btn-radius: .2em;

$btn-bg-white: #fff;
$btn-bg-black: #000;
$btn-bg-default: #b2b2b2;
$btn-color-default: #f6f6f6;

$btn-font-normal: 1em;
$btn-font-large: 1.2em;
$btn-font-small: .85em;
$btn-font-smaller: .75em;

$btn-rounded-radius: 1.1em;

// // Input & Button Padding
// $padding-input-base: .3em;
// $padding-btn-base: 10;
// $padding-btn-side-base: 2.5em;
// $padding-btn-side-in-forms-base: 1.3em;

// $padding-input: $padding-input-base .35em;
// $padding-btn: $padding-btn-base $padding-btn-side-base;
// $padding-btn-outline: $padding-btn-base - (1/16em*1) $padding-btn-side-base;
// $padding-btn-outline-bold: $padding-btn-base - (1em/16*2) $padding-btn-side-base;
// $padding-btn-in-forms: $padding-input-base + (1em/16*1) $padding-btn-side-in-forms-base;
// $padding-btn-outline-in-forms: $padding-input-base $padding-btn-side-in-forms-base;
// $padding-btn-outline-bold-in-forms: $padding-input-base - (1em/16*1) $padding-btn-side-in-forms-base;
