// Grid
$blocks-count: 6 !default;
$grid-width: 1140 !default;
$grid-gutter-width: 30 !default;

// Units
$units: (10 20 25 30 40 50 60 70 75 80 90 100) !default;
$units-names: (100: 'full', 66.667: 'two-third', 50: 'half', 33.333: 'third', 25: 'fourth', 20: 'fifth') !default;
