@mixin make-units($preffix: '') {
  @include loop-units($preffix, width);
  @include loop-units($preffix, pull);
  @include loop-units($preffix, push);
  @include loop-units($preffix, offset);
}

@mixin loop-units($preffix, $type) {
  @each $unit in $units {
    @include calc-unit($unit, $type, $preffix);
  }

  @each $unit, $name in $units-names {
    @include calc-unit($unit, $type, $preffix, $name);
  }
}

// Preffix should be like '-mobile'
@mixin calc-unit($unit, $type, $preffix: '', $name: $unit) {
  @if ($type == width) and ($unit > 0) {
    .unit#{$preffix}-#{$name} {
      display: inline-block;
      width: get-unit-width($unit);
      //float: left;
    }
  }

  @if ($type == push) {
    .unit#{$preffix}-push-#{$name} {
      display: inline-block;
      left: get-unit-width($unit);
      //float: left;
    }
  }

  @if ($type == pull) {
    .unit#{$preffix}-pull-#{$name} {
      display: inline-block;
      right: get-unit-width($unit);
      //float: left;
    }
  }

  @if ($type == offset) {
    .unit#{$preffix}-offset-#{$name} {
      display: inline-block;
      margin-left: get-unit-width($unit);
      //float: left;
    }
  }
}
