/// Mixin helping to set specific side radiuses of element simultaneously.
/// Can accept list of sides.
/// If no passed sides then set radiuses for all sides.
///
/// @name Border radius
/// @group mixins
/// @acess public
///
/// @param {Length} $radius - Element's specific side radiuses
/// @param {List | Side} $sides - Element's sides list which sets the radius
///
/// @example scss - Usage for all sides
///   .element {
///     [some element styles]
///     @include border-radius(5px);
///   }
///
/// @example css - CSS output
///   .element {
///     [some element styles]
///     border-radius: 5px;
///   }
///
/// @example scss - Usage for specific side
///   .element {
///     [some element styles]
///     @include border-radius(5px, left);
///   }
///
/// @example css - CSS output
///   .element {
///     [some element styles]
///     border-top-left-radius: 5px;
///     border-bottom-left-radius: 5px;
///   }
/// 
/// @example scss - Usage for list of sides
///   .element {
///     [some element styles]
///     @include border-radius(5px, left, top);
///   }
///
/// @example css - CSS output
///   .element {
///     [some element styles]
///     border-top-left-radius: 5px;
///     border-bottom-left-radius: 5px;
///     border-top-right-radius: 5px;
///   }
@mixin border-radius($radius, $sides...) {
  $setting-sides: ();

  // Allowed sides: top, right, bottom, left
  @each $side in $sides {
    @if $side == top {
      $setting-sides: append($setting-sides, border-top-left-radius);
      $setting-sides: append($setting-sides, border-top-right-radius);
    } @else if $side == right {
      $setting-sides: append($setting-sides, border-top-right-radius);
      $setting-sides: append($setting-sides, border-bottom-right-radius);
    } @else if $side == bottom {
      $setting-sides: append($setting-sides, border-bottom-right-radius);
      $setting-sides: append($setting-sides, border-bottom-left-radius);
    } @else if $side == left {
      $setting-sides: append($setting-sides, border-top-left-radius);
      $setting-sides: append($setting-sides, border-bottom-left-radius);
    } @else {
      @warn "Side variable can accept one of the following values: top, right, bottom, left. Value passed: #{$side}";
    }
  }

  @if length($sides) == 0 {
    // No specific sides, radius for all sides
    $setting-sides: append($setting-sides, border-radius);
  }

  $setting-sides: remove-duplicates($setting-sides);

  @each $side in $setting-sides {
    #{$side}: $radius;
  }
}
