// Private grid mixins
@mixin make-blocks() {
  .blocks {
    @extend %clearfix;
    position: relative;
    margin: 0;
    padding: 0;
    
    list-style-type: none;

    @for $i from 2 through $blocks-count {
      &.blocks-#{$i} {
        > li {
          @include blocks-list-item($i);

          @media only screen and (max-width: 767px) {
            width: 100%;
            margin-left: 0;
            float: none;
          }
        }

        @for $j from 2 through $blocks-count {
          &.blocks-mobile-#{$j} > li {
            @media only screen and (max-width: 767px) {
              @include blocks-list-item($j);
            }
          }
        }
      }
    }
  }
}

@mixin blocks-list-item($count) {
  float: left;
  width: (($grid-width - ($grid-gutter-width * ($count - 1))) / $count / ($grid-width / 100)) * 1%;
  margin-left: $grid-gutter-width / ($grid-width / 100) * 1%;

  // Clear for new rows
  &:nth-child(#{$count}n + 1) {
    margin-left: 0;
    clear: left;
  }
}

@mixin make-columns() {
  .unit {
    @extend %clearfix;
    position: relative;

    @each $unit in $units {
      &.unit-#{$unit} {
        @include column-item($unit);
      }
    }
  }
}

@mixin column-item($unit) {
  $gutter: grid-gutter-percentage($grid-width, $grid-gutter-width);

  &:before {
    content: debug($gutter);
  }

  float: left;
  width: (100 - $gutter * (100 / $unit - 1)) / (100 / $unit);
  margin-left: grid-gutter-percentage();
}

// Blocks
@mixin block($count) {
  width: (($grid-width - ($grid-gutter-width * $count)) / $count / ($grid-width / 100)) * 1%;
}

// Columns
@mixin column($count) {
  width: (($grid-width - ($grid-gutter-width * ($count - 1))) / $count / ($grid-width / 100)) * 1%;
}

// Columns
@mixin columns($factor, $count) {
  width: ((($grid-width - ($grid-gutter-width * ($count - 1))) / $count / ($grid-width / 100)) * $factor) + (($grid-gutter-width / ($grid-width / 100)) * ($factor - 1)) * 1%;
}

@mixin column-push($count) {
  left: ((($grid-width - ($grid-gutter-width * ($count - 1))) / $count / ($grid-width / 100)) + $grid-gutter-width/($grid-width/100)) * 1%;
}

@mixin columns-push($factor, $count) {
  left: (((($grid-width - ($grid-gutter-width * ($count - 1))) / $count / ($grid-width / 100)) * $factor) + (($grid-gutter-width / ($grid-width / 100)) * ($factor - 1)) + $grid-gutter-width/($grid-width/100)) * 1%;
}
